
  .movieInfo {
    padding: 0
  }

  .movieInfo li {
    list-style: none;
    width: 125px;
    height: 175px;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
  }
  .movieTitle {
    text-align: left;
  }

  .movieImg {
    content: "";
  }

  .lastSearchTerm {
    margin-top: 10px;
  }
